{% extends "base.html" %}

{% block title %}Catálogo de Productos{% endblock %}
{% block url %}catalogo.app{% endblock %}

{% block content %}
<section class="brand" style="padding-bottom: 10px;">
  <p class="welcome" style="margin-top: 20px; font-weight: 700; color: #14204e; font-size: 1.2rem;">Catálogo de Productos</p>
</section>

<ul class="menu">
  <li>
    <a class="menu-item" href="#">
      <span class="menu-text">
        <span class="title" style="font-size: 1.1rem;">Antivibratorios</span>
      </span>
    </a>
  </li>
  <li>
    <a class="menu-item" href="#">
      <span class="menu-text">
        <span class="title" style="font-size: 1.1rem;">Patas Niveladoras</span>
      </span>
    </a>
  </li>
  <li>
    <a class="menu-item" href="#">
      <span class="menu-text">
        <span class="title" style="font-size: 1.1rem;">Elementos de accionamiento y maniobra</span>
      </span>
    </a>
  </li>
  <li>
    <a class="menu-item" href="#">
      <span class="menu-text">
        <span class="title" style="font-size: 1.1rem;">Niveladores para mobiliario</span>
      </span>
    </a>
  </li>
</ul>
{% endblock %}